.sheet__wrapper {
    height: 75%;
    width: 100%;
}

.table {
    display: flex;
    justify-content: space-around;
    height: 30%;
    width: inherit;
    text-align: center;
    border: 1px black solid;
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    padding: 10px;
}

li {
    font-size: 14px;
    list-style: none;
}
